@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*, ::before, ::after{
    /*box-sizinf: border-box;*/
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    font-family: 'Jost',sans-serif;
}
/*****************/
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
nav {
    overflow: hidden;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);/*rgb(31, 13, 48);*/
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
header li {
    font-family: 'Advent Pro', sans-serif;
    float: right;
    font-size: 1.0em;
}
header li a {
    font-family: 'Advent Pro', sans-serif;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 18px 16px;
    color: rgba(234, 16, 16, 0.79);
}
#logo {
    font-family: 'Advent Pro', sans-serif;
    font-weight: bold;
    float: left;
    color: rgba(241, 26, 26, 0.79);
}/********************/
h1{
    margin-top: 0px;
}
#download button{
    cursor: pointer;
    font-size: 35px;
    width: 300px;
    height: 50px;
    margin-top: 20px;
    padding: 4px 10px;
    border-radius: 15%;
    border-color: black;
    color: #ffffff;
    background-color: #f50000;
}
#download{
    /*padding: 10% 80%;*/
    width:  300px;
    display: flex;
    align-content: center;
    margin: 25px;
    background-size: cover;
}
.main .content .card .left a{
    /*padding: 10% 80%;
    align-content: center;
    margin: 25px;
    background-size: cover;*/
}
body{
    /*padding-top: 75px;*/
    background: url("../media/couverture.png"); /* couleur du back ground*/
    background-size: cover;
}

.main{
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .content .card{
    margin-bottom: 100px;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main .content .card .left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 30%;
    padding: 20px;
    align-content: center;
    border-radius: 8%;
    background-color: #51195f;
    color: white;
    box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.5);
}
.main .content .card .left h1{
    text-align: center;
}

.main .content .card .left p{
    margin-top: 25px;
}
.main .content .card.right{
    flex: 0 0 70%;
}
.main .content .card .right img{
    height: 400px;
    width: 400px;
    margin-top: 5px;
}